<div data-controller="table-search" class="lg:hidden w-full">
  <div class="flex flex-col justify-between gap-2 mb-2">
    <div class="w-full">
      <label>
        Search:
      </label>
      <input
        data-table-search-target="search"
        data-action="input->table-search#handleSearch"
        class="flex-1 rounded-xl border-2 border-white/10 bg-dark-inputs px-4 py-3 text-zinc-100 placeholder:text-zinc-500 outline-none transition focus:border-branding-blue focus:ring-2 focus:ring-branding-blue/30">
    </div>
    <% if @stat.grouping? %>
      <div class="flex justify-between gap-2">
        <% if @filter == "kills" %>
          <button class="btn btn-primary" disabled>Kills</button>
        <% else %>
          <%= link_to "Kills", leaderboard_path(@stat.base_name, filter: "kills"), class: "btn btn-primary" %>
        <% end %>

        <% if @filter == "used" %>
          <button class="btn btn-primary" disabled>Uses</button>
        <% else %>
          <%= link_to "Uses", leaderboard_path(@stat.base_name, filter: "used"), class: "btn btn-primary" %>
        <% end %>

        <% if @stat.weapon? %>
          <% if @filter == "shots" %>
            <button class="btn btn-primary" disabled>Shots</button>
          <% else %>
            <%= link_to "Shots", leaderboard_path(@stat.base_name, filter: "shots"), class: "btn btn-primary" %>
          <% end %>

          <% if @filter == "hits" %>
            <button class="btn btn-primary" disabled>Hits</button>
          <% else %>
            <%= link_to "Hits", leaderboard_path(@stat.base_name, filter: "hits"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <table class="w-full table-auto border-collapse text-sm">
    <thead>
      <tr>
        <th class="border-2 border-dark-inputs p-2">#</th>
        <th class="border-2 border-dark-inputs p-2">Player</th>
        <th class="border-2 border-dark-inputs p-2"><%= @filter&.titleize || "Value" %></th>
      </tr>
    </thead>
    <tbody data-table-search-target="body">
      <% @user_stats.each_with_index do |stat, index| %>
        <tr class="<%= current_user && current_user.steam_id == stat.user.steam_id ? "bg-green-700" : "" %>">
          <td class="border-2 border-dark-inputs p-2">
            <%= index + 1 %>
          </td>
          <td class="border-2 border-dark-inputs p-2" data-controller="modal">
            <button data-action="click->modal#open" class="flex justify-between items-center w-full">
              <div class="flex gap-2 items-center">
                <%= image_tag(stat.user.steam_avatar, class: "inline") if stat.user.steam_avatar.present? %>
                <span class="break-all">
                  <%= stat.user.steam_name %>
                </span>
              </div>
              <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
            </button>

            <div data-modal-target="container" class="modal">
              <div
                data-action="click->modal#close"
                class="modal-backdrop"
              ></div>
              <div class="modal-content">
                <div class="modal-header">
                  Profiles for <%= stat.user.steam_name %>
                </div>
                <div class="modal-body">
                  <div class="flex flex-col gap-4">
                    <a href="https://fbi.paydaythegame.com/suspect/<%= stat.user.steam_id %>" target="_blank">
                      <%= image_tag("fbi-files.ico", class: "inline h-8 w-8") %>
                      FBI Files
                    </a>
                    <a href="https://steamcommunity.com/profiles/<%= stat.user.steam_id %>" target="_blank">
                      <%= image_tag("steam_logo.svg", class: "inline h-8 w-8") %>
                      Steam
                    </a>
                    <a href="/leaderboards/<%= stat.user.steam_id %>/top_100" target="_blank">
                      <%= image_tag("fbi-logo.png", class: "inline h-8 w-8") %>
                      Top 100s
                    </a>
                  </div>
                </div>
                <div class="modal-footer flex justify-end">
                  <button type="button" class="btn btn-secondary" data-action="click->modal#close">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </td>

          <td class="border-2 border-dark-inputs p-2" data-controller="modal">
            <% if @stat.grouping? %>
              <button data-action="click->modal#open" class="flex justify-between items-center w-full">
                <%= number_with_delimiter(stat.value) %>
                <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
              </button>

              <div data-modal-target="container" class="modal">
                <div
                  data-action="click->modal#close"
                  class="modal-backdrop"
                ></div>
                <div class="modal-content">
                  <div class="modal-header">
                    Stats
                  </div>
                  <div class="modal-body">
                    <div class="flex flex-col gap-4">
                      <div>
                        Kills:
                        <%= number_with_delimiter(
                          stat_value(stat, "kills", @filter, @extra_stats_lookup)
                        ) %>
                      </div>
                      <div>
                        Uses:
                        <%= number_with_delimiter(
                          stat_value(stat, "used", @filter, @extra_stats_lookup)
                        ) %>
                      </div>
                      <% if @stat.weapon? %>
                        <div>
                          Shots:
                          <%= number_with_delimiter(
                            stat_value(stat, "shots", @filter, @extra_stats_lookup)
                          ) %>
                        </div>
                        <div>
                          Hits:
                          <%= number_with_delimiter(
                            stat_value(stat, "hits", @filter, @extra_stats_lookup)
                          ) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-footer flex justify-end">
                    <button type="button" class="btn btn-secondary" data-action="click->modal#close">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            <% else %>
              <%= number_with_delimiter(stat[:value]) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>