<div data-controller="table-search" class="w-full hidden lg:block">
  <div class="flex justify-between mb-2">
    <% if @grouping %>
      <div class="flex justify-between gap-2">
        <% if @filter == "kills" %>
          <button class="btn btn-primary" disabled>Kills</button>
        <% else %>
          <%= link_to "Kills", leaderboard_path(@name_id, grouping: @grouping, filter: "kills"), class: "btn btn-primary", data: { turbo: false } %>
        <% end %>

        <% if @filter == "used" %>
          <button class="btn btn-primary" disabled>Uses</button>
        <% else %>
          <%= link_to "Uses", leaderboard_path(@name_id, grouping: @grouping, filter: "used"), class: "btn btn-primary", data: { turbo: false } %>
        <% end %>

        <% if @grouping == "weapon" %>
          <% if @filter == "shots" %>
            <button class="btn btn-primary" disabled>Shots</button>
          <% else %>
            <%= link_to "Shots", leaderboard_path(@name_id, grouping: @grouping, filter: "shots"), class: "btn btn-primary", data: { turbo: false } %>
          <% end %>

          <% if @filter == "hits" %>
            <button class="btn btn-primary" disabled>Shots Hit</button>
          <% else %>
            <%= link_to "Shots Hit", leaderboard_path(@name_id, grouping: @grouping, filter: "hits"), class: "btn btn-primary", data: { turbo: false } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div>
      <label>
        Search:
      </label>
      <input
        data-table-search-target="search"
        data-action="input->table-search#handleSearch"
        class="flex-1 rounded-xl border border-white/10 bg-dark-inputs px-4 py-3 text-zinc-100 placeholder:text-zinc-500 outline-none transition focus:border-branding-blue focus:ring-2 focus:ring-branding-blue/30">
    </div>
  </div>
  <table class="w-full table-auto border-collapse">
    <thead>
      <tr>
        <th class="border-2 border-dark-inputs p-2">Rank</th>
        <th class="border-2 border-dark-inputs p-2">Player</th>
        <th class="border-2 border-dark-inputs p-2">FBI Files</th>
        <th class="border-2 border-dark-inputs p-2">Steam Profile</th>
        <th class="border-2 border-dark-inputs p-2">Top 100s</th>
        <% if @grouping %>
          <th class="border-2 border-dark-inputs p-2">Kills</th>
          <th class="border-2 border-dark-inputs p-2">Uses</th>
          <% if @grouping == "weapon" %>
            <th class="border-2 border-dark-inputs p-2">Shots</th>
            <th class="border-2 border-dark-inputs p-2">Shots Hit</th>
          <% end %>
        <% else %>
          <th class="border-2 border-dark-inputs p-2">Value</th>
        <% end %>
        <th class="border-2 border-dark-inputs p-2">Last Updated</th>
      </tr>
    </thead>
    <tbody data-table-search-target="body">
      <% @data.each_with_index do |stat, index| %>
        <tr class="<%= current_user && current_user.steam_id == stat[:steam_id] ? "bg-green-700" : "" %>">
          <td class="border-2 border-dark-inputs p-2">
            <%= index + 1 %>
          </td>
          <td class="border-2 border-dark-inputs p-2 text-wrap">
            <%= image_tag(stat[:avatar], class: "inline") if stat[:avatar].present? %>
            <%= stat[:name] %>
          </td>
          <td class="align-middle border-2 border-dark-inputs p-2">
            <div class="flex items-center justify-center">
              <a href="https://fbi.paydaythegame.com/suspect/<%= stat[:steam_id] %>" target="_blank">
                <%= image_tag("fbi-files.ico", class: "w-8 transition-transform duration-200 ease-in-out hover:scale-125") %>
              </a>
            </div>
          </td>
          <td class="align-middle border-2 border-dark-inputs p-2">
            <div class="flex items-center justify-center">
              <a href="https://steamcommunity.com/profiles/<%= stat[:steam_id] %>" target="_blank">
                <%= image_tag("steam_logo.svg", class: "w-8 transition-transform duration-200 ease-in-out hover:scale-125") %>
              </a>
            </div>
          </td>
          <td class="align-middle border-2 border-dark-inputs p-2">
            <div class="flex items-center justify-center">
              <a href="/leaderboards/<%= stat[:steam_id] %>/top_100" target="_blank">
                <%= image_tag("fbi-logo.png", class: "w-8 transition-transform duration-200 ease-in-out hover:scale-125") %>
              </a>
            </div>
          </td>
          <% if @grouping %>
            <td class="border-2 border-dark-inputs p-2">
              <%= number_with_delimiter(stat[:kills]) %>
            </td>
            <td class="border-2 border-dark-inputs p-2">
              <%= number_with_delimiter(stat[:used]) %>
            </td>
            <% if @grouping == "weapon" %>
              <td class="border-2 border-dark-inputs p-2">
                <%= number_with_delimiter(stat[:shots]) %>
              </td>
              <td class="border-2 border-dark-inputs p-2">
                <%= number_with_delimiter(stat[:hits]) %>
              </td>
            <% end %>
          <% else %>
            <td class="border-2 border-dark-inputs p-2">
              <%= number_with_delimiter(stat[:value]) %>
            </td>
          <% end %>
          <td class="border-2 border-dark-inputs p-2">
            <%= stat[:updated_at].strftime("%b %d %Y") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>