<div class="background-image"></div>
<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center" class='page-container'>
    <%= render(AddPlayerComponent.new) %>
    <div class="statistic-choice">
    <table style="min-width:60%">
      <tr>
        <th>Position</th>
        <th>Player</th>
        <th>FBI Files</th>
        <th>Steam Profile</th>
        <th>Value</th>
      </tr>
      <% @data.each_with_index do |stat, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= stat[:name] %></td>
          <td><a href="https://fbi.paydaythegame.com/suspect/<%= stat[:steam_id] %>" target="_blank">FBI</a></td>
          <td><a href="https://steamcommunity.com/profiles/<%= stat[:steam_id] %>" target="_blank">Steam</a></td>
          <td><%= number_with_delimiter(stat[:value]) %></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>