<div class="background-image"></div>
<div class="page">
  <div style="display:flex;align-items:center;padding:1rem 4rem;margin:auto;width:80%;" class='page-container'>
    <div style="display:flex;width:100%;align-items: stretch;">
      <div class="new-user-container portlet-container">
        <h2 class="nav-input-title"><%= @name %></h2>
        <div style="margin: 2rem; 0.5rem;max-height:150px">
          <%= image_tag(Localizer.generate_image_url(@name_id, "full"), style: "object-fit: contain;height:100%;width:100%") %>
        </div>
        <div style="min-width:80%;margin-bottom:2rem;display:flex;flex-direction:column;justify-content:center;align-items:center;">
          <span style="margin-right:1rem;" class="nav-input-title">Change Statistic</span>
          <%= render(StatSearchComponent.new) %>
        </div>
      </div>
      <div class='new-user-container portlet-container'>
        <p class='add-user-form'>Notice someone is missing? Add them by supplying their steam ID</p>
        <p>Steam ID's can be found <a href='https://steamid.xyz/' target='_blank'>here</a></p>
        <%= simple_form_for(User.new) do |f| %>
          <%= f.input :steam_id, label: 'Steam 64 ID', input_html: {class: 'add-user-form'} %>
          <%= f.button :submit, 'Add Player To Leaderboard', class: 'add-user-form submit-button btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="statistic-choice portlet-container">
      <table id="leaderboard-table">
        <thead>
          <tr>
            <th data-dt-order="disable">Position</th>
            <th data-dt-order="disable">Player</th>
            <th data-dt-order="disable">FBI Files</th>
            <th data-dt-order="disable">Steam Profile</th>
            <th data-dt-order="disable">Top 100s</th>
            <% if @grouping %>
              <th>Kills</th>
              <th>Uses</th>
              <% if @grouping == "weapon" %>
                <th>Shots</th>
                <th>Shots Hit</th>
              <% end %>
            <% else %>
              <th>Value</th>
            <% end %>
            <th data-dt-order="disable">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @data.each_with_index do |stat, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td>
                <%= image_tag(stat[:avatar], class: "steam-avatar") %>
                <%= stat[:name] %>
              </td>
              <td class="centered-td">
                <a href="https://fbi.paydaythegame.com/suspect/<%= stat[:steam_id] %>" target="_blank">
                  <%= image_tag("fbi-files.ico", class: "leaderboard-icon image-grow") %>
                </a>
              </td>
              <td class="centered-td">
                <a href="https://steamcommunity.com/profiles/<%= stat[:steam_id] %>" target="_blank">
                  <%= image_tag("steam_logo.svg", class: "leaderboard-icon image-grow") %>
                </a>
              </td>
              <td><a href="/leaderboards/<%= stat[:steam_id] %>/top_100" target="_blank">Top 100s</a></td>
              <% if @grouping %>
                <td><%= number_with_delimiter(stat[:kills]) %></td>
                <td><%= number_with_delimiter(stat[:uses]) %></td>
                <% if @grouping == "weapon" %>
                  <td><%= number_with_delimiter(stat[:shots]) %></td>
                  <td><%= number_with_delimiter(stat[:hits]) %></td>
                <% end %>
              <% else %>
                <td><%= number_with_delimiter(stat[:value]) %></td>
              <% end %>
              <td><%= stat[:updated_at].strftime("%b %d %Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    let table = $("#leaderboard-table").DataTable({
      paging: false,
      info: false
    })
    <% if @grouping %>
      $("<span>Filter By:</span>").appendTo($('.dt-layout-start').first())
      $("<button class='filter-button btn btn-primary <%= @filter == "kills" ? "disabled" : nil %>' data-filter='kills'>Kills</button>").appendTo($('.dt-layout-start').first())
      $("<button class='filter-button btn btn-primary <%= @filter == "used" ? "disabled" : nil %>' data-filter='used'>Uses</button>").appendTo($('.dt-layout-start').first())
      <% if @grouping == "weapon" %>
        $("<button class='filter-button btn btn-primary <%= @filter == "shots" ? "disabled" : nil %>' data-filter='shots'>Shots</button>").appendTo($('.dt-layout-start').first())
        $("<button class='filter-button btn btn-primary <%= @filter == "hits" ? "disabled" : nil %>' data-filter='hits'>Shots Hit</button>").appendTo($('.dt-layout-start').first())
      <% end %>
    <% end %>

    $(".filter-button").on("click", (e) => {
      let filter = e.target.dataset.filter
      let grouping = new URLSearchParams(window.location.search).get("grouping")
      window.location.href = `${location.pathname}?grouping=${grouping}&filter=${filter}`
    })
  })
</script>