<div>
  <div class="p-4 grid grid-cols-1 lg:grid-cols-2 gap-8">
    <%= render TileComponent.new(title: @stat.localize) do %>
      <%= image_tag(
        @stat.image(size: "full"),
        class: "hidden lg:block max-h-32 mx-auto"
      ) %>
      <span>Change Statistic</span>
      <%= render(StatSearchComponent.new) %>
    <% end %>

    <%= render TileComponent.new(title: "Add Player") do %>
      <%= image_tag("icons/new-user.svg", class: "h-32 hidden lg:block mx-auto") %>
      <%= simple_form_for User.new, html: {class: "w-full flex flex-col"} do |f| %>
        <%= hidden_field_tag :return_to, request.fullpath %>
        <%= f.input :steam_id,
          label: "Steam 64 ID (find ID <a href='https://steamid.xyz/' target='_blank' class='text-branding-blue'>here</a>)".html_safe,
          as: :numeric
        %>
        <%= f.button :submit, 'Add Player To Leaderboard', class: 'btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class='p-4'>
    <%= render TileComponent.new() do %>
      <%= render "leaderboards/ranking_table" %>
      <%= render "leaderboards/ranking_table_mobile" %>
    <% end %>
  </div>
</div>
