<div class="page">
  <div class='page-container'>
    <% if @leaderboard_user.present? %>
      <% if @stats.length %>
        <div class="portlet-container top-100-header">
          <h1 style="display:flex;align-items:center;">
            <%= image_tag(@leaderboard_user.avatar, class: "steam-avatar") %>
            <%= @leaderboard_user.name %>
          </h1>
          <h2>
            Top 100 in <%= @stats.length %> stats
          </h2>
          <p>
            Last LB reset at <%= Leaderboard.read["updated_at"] %>
          </p>
        </div>
        <div class="portlet-container top-100-table">
          <table style="min-width:60%" id="top_100">
            <thead>
              <tr>
                <th data-dt-order="disable">Stat name</th>
                <th data-dt-order="disable">Rank</th>
                <th data-dt-order="disable">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @stats.each do |stat| %>
                <tr>
                  <td>
                    <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
                    <% if WeaponStat.has_filtering?(stat[:name]) %>
                      <%= link_to(
                        Localizer.localize_from_statistic(stat[:name]),
                        WeaponStat.translate_weapon_stat_to_url(stat[:name]),
                        data: { turbo: false }
                      ) %>
                    <% else %>
                      <%= link_to(
                        Localizer.localize_from_statistic(stat[:name]),
                        leaderboard_path(stat[:name]),
                        data: { turbo: false }
                      ) %>
                    <% end %>
                  </td>
                  <td><%= stat[:value] + 1 %></td>
                  <td><%= @weapon_stats[stat[:name]] || @player_stats[stat[:name]] || @misc_stats[stat[:name]] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h1 style="color:white">
          <%= @leaderboard_user.name %> is not in the top 100 for any stats
        </h1>
      <% end %>
    <% else %>
      <h1 style="color:white">
        No user could be found with that ID
      </h1>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(() => {
    let table = $("#top_100").DataTable({
      paging: false,
      info: false,
      ordering: false
    })
  })
</script>