<div class="background-image"></div>
<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center;padding-top:2rem;" class='page-container'>
    <% if @user.present? %>
      <% if @stats.length %>
        <div class="portlet-container" style="display:flex;flex-direction:column;padding:1rem;align-items:center;">
          <h1 style="display:flex;align-items:center;">
            <% user_data = @user.steam_data %>
            <%= image_tag(user_data["avatar"], class: "steam-avatar") %>
            <%= user_data["personaname"] %>
          </h1>
          <h2>
             has <%= @stats.length %> top 100 stats!
          </h2>
        </div>
        <div class="statistic-choice portlet-container">
          <table style="min-width:60%" id="top_100">
            <thead>
              <tr>
                <th data-dt-order="disable">Stat name</th>
                <th data-dt-order="disable">Position</th>
                <th data-dt-order="disable">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @stats.each do |stat| %>
                <tr>
                  <td>
                    <% if WeaponStat.has_filtering?(stat[:name]) %>
                      <%= link_to(
                        Localizer.localize_from_statistic(stat[:name]),
                        WeaponStat.translate_weapon_stat_to_url(stat[:name]),
                        data: { turbo: false }
                      ) %>
                    <% else %>
                      <%= link_to(
                        Localizer.localize_from_statistic(stat[:name]),
                        leaderboard_path(stat[:name]),
                        data: { turbo: false }
                      ) %>
                    <% end %>
                  </td>
                  <td><%= stat[:value] + 1 %></td>
                  <td><%= @weapon_stats[stat[:name]] || @player_stats[stat[:name]] || @misc_stats[stat[:name]] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h1 style="color:white">
          <%= @user.name %> is not in the top 100 for any stats
        </h1>
      <% end %>
    <% else %>
      <h1 style="color:white">
        No user could be found with that ID
      </h1>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(() => {
    let table = $("#top_100").DataTable({
      paging: false,
      info: false,
      ordering: false
    })
  })
</script>