<div class="login-page">
  <div class="login-content">
    <h3><b>Logging in through steam will allow PaydayCharts enables a few extra features</b></h3>
    <h3>Your SteamID will be accessible to us allowing certain stats to be displayed more easily</h3>
    <h3>Additionally a few extra stats will be available. Such as your perkdeck usage, and position on leaderboards</h3>
    <h3>We do not gain access to any sensitive information about your account</h3>
    <h3>Learn more about Steam OpenID <a href="https://steamcommunity.com/discussions/forum/1/620696522175992548/" target="blank">Here</a></h3>
    <%= simple_form_for :openid, url: "https://steamcommunity.com/openid/login", method: :post do |f| %>
      <%= f.hidden_field :identity, value: "http://specs.openid.net/auth/2.0/identifier_select" %>
      <%= f.hidden_field :claimed_id, value: "http://specs.openid.net/auth/2.0/identifier_select" %>
      <%= f.hidden_field :ns, value: "http://specs.openid.net/auth/2.0" %>
      <%= f.hidden_field :mode, value: "checkid_setup" %>
      <%= f.hidden_field :return_to, value: "localhost:3000/sessions/" %>
      <%= f.submit "Login", class: "btn btn-primary" %>
    <% end %>

    <form action="https://steamcommunity.com/openid/login" method="post">
      <input type="hidden" name="openid.identity" value="http://specs.openid.net/auth/2.0/identifier_select">
      <input type="hidden" name="openid.claimed_id" value="http://specs.openid.net/auth/2.0/identifier_select">
      <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0">
      <input type="hidden" name="openid.mode" value="checkid_setup">
      <input type="hidden" name="openid.return_to" value="http://localhost:3000/sessions/">
      <button type="submit" class="btn btn-primary">
        Sign in through steam
        <svg width="20" height="20" viewBox="0 0 16 16" aria-hidden="true" style="fill: white;">
          <path d="M8 0a8 8 0 00-8 7.47c.07.1.13.21.18.32l4.15 1.67a2.2 2.2 0 011.31-.36l1.97-2.8v-.04c0-1.65 1.37-3 3.05-3a3.03 3.03 0 013.05 3 3.03 3.03 0 01-3.12 3l-2.81 1.97c0 .3-.05.6-.17.9a2.25 2.25 0 01-4.23-.37L.4 10.56A8.01 8.01 0 108 0zm2.66 4.27c-1.12 0-2.03.9-2.03 2s.91 1.99 2.03 1.99c1.12 0 2.03-.9 2.03-2s-.9-2-2.03-2zm0 .5c.85 0 1.53.66 1.53 1.49s-.68 1.5-1.53 1.5c-.84 0-1.52-.67-1.52-1.5s.68-1.5 1.52-1.5zM5.57 9.6c-.22 0-.43.04-.62.11l1.02.42c.65.26.95.99.68 1.62-.27.63-1 .93-1.65.67l-1-.4a1.73 1.73 0 003.13-.08c.18-.42.18-.88.01-1.3A1.69 1.69 0 005.57 9.6z"></path>
        </svg>
      </button>
    </form>
  </div>
</div>