<div class="background-image"></div>

<div class="page">
  <div style="display:flex;flex-direction:column;align-items:center" class='page-container'>
    <div style="background:white;border-radius:0.25rem;width:90%;margin-top:1rem;display:flex;flex-direction:column;align-items:center">
      <h1>Create New Jeopardy Game</h1>
      <%= simple_form_for @jeopardy_game, html: {style: 'width:100%'} do |f| %>
        <%= f.input :name, input_html: {style: ''}, label_html: {style: 'margin:1rem 0.5rem 1rem 2rem;'} %>
        <table style="width:95%;margin:auto;">
          <tr>
            <th>
              Category Name
            </th>
            <th>
              Question 200
            </th>
            <th>
              Question 400
            </th>
            <th>
              Question 600
            </th>
            <th>
              Question 800
            </th>
            <th>
              Question 1000
            </th>
          </tr>
          <%= f.simple_fields_for :jeopardy_categories do |ff| %>
            <tr>
              <td>
                <%= ff.input :title, label: false, input_html: {style: 'width:100%'} %>
              </td>
              <%= ff.simple_fields_for :jeopardy_questions do |fff| %>
                <td>
                  <%= fff.input :question, label: false, as: :text, input_html: {style: 'width:100%'} %>
                  <%= fff.hidden_field :value %>
                  <%= fff.file_field :image %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <%= f.button :submit, class: "btn btn-primary", style: 'float:right;margin:1rem' %>
      <% end %>
    </div>
  </div>
</div>