<div>
  <div style="padding: 0 4rem;">
    <div style="display:grid;grid-template-columns: repeat(8, 1fr);">
      <% @guess_who.items.each do |item| %>
        <div style="margin:2rem;">
          <div style="border-radius:0.5rem;display:flex;justify-content:center;" class="gameplay-item unturned">
            <% if @guess_who.game_type == "heist" %>
              <%= image_tag("guess_who/heists/#{item}", style: "width:120px;padding: 1rem 0;", class: "guess_who_card") %>
            <% elsif @guess_who.game_type == "content_creators" %>
              <%= image_tag("guess_who/content_creators/#{item}", style: "width:120px;height:140px;padding: 1rem 0;", class: "guess_who_card") %>
            <% else %>
              <img src="<%= item %>" style="width:160px;" class="guess_who_card"/>
            <% end %>
          </div>
          <% if @guess_who.game_type == "content_creators" %>
            <p style="color:white"><%= item.gsub(".png", "").gsub(".jpg", "").gsub(".PNG", "") %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr/>
  <div style="display:flex;justify-content:space-between;padding: 2rem 4rem;width:60%;margin:auto;">
    <h2 style="color:white;">Your lobby code is <%= params[:id] %></h2>
    <button class="btn btn-primary" style="padding:0.5rem 1rem;height:20%;" id="reset-button">Reset</button>
    <h2 style="color:white;">Your Card:</h2>
    <div style="background:white;border-radius:0.5rem;">
      <% if ["heist", "content_creators"].include?(@guess_who.game_type) %>
        <img id="your-pick" style="width:120px;padding:1rem" class="guess_who_card"/>
      <% else %>
        <img id="your-pick" style="width:160px;" class="guess_who_card"/>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    const imageSource = $(".gameplay-item")[[Math.floor(Math.random() * $(".gameplay-item").length)]].children[0].src
    $("#your-pick").attr("src", imageSource)

    $(".gameplay-item").on("click", (e) => {
      if (e.currentTarget.classList.contains("turned")) {
        e.currentTarget.classList.remove("turned")
        e.currentTarget.classList.add("unturned")
      } else {
        e.currentTarget.classList.remove("unturned")
        e.currentTarget.classList.add("turned")
      }
    })

    $("#reset-button").on("click", () => {
      const imageSource = $(".gameplay-item")[[Math.floor(Math.random() * $(".gameplay-item").length)]].children[0].src
      $("#your-pick").attr("src", imageSource)
      $(".gameplay-item").removeClass("turned")
      $(".gameplay-item").addClass("unturned")
    })
  })
</script>

<style>
  .turned {
    background: #222222;
  }
  
  .unturned {
    background: white;
  }

  .guess_who_card {
    -webkit-user-drag: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
</style>