<div style="height:90vh" class="guess_who_board">
  <div style="padding: 0 4rem;height:70%;">
    <div style="display:grid;grid-template-columns: <%= ["weapon", "melee"].include?(@guess_who.game_type) ? "repeat(6, 1fr)" : "repeat(8, 1fr)" %>;">
      <% @guess_who.items.each do |item| %>
        <div style="margin:1rem;">
          <div style="border-radius:0.5rem;display:flex;justify-content:center;" class="gameplay-item unturned">
            <% if @guess_who.game_type == "heist" %>
              <%= image_tag("guess_who/heists/#{item}", style: "width:120px;padding: 1rem 0;", class: "guess_who_card") %>
            <% elsif @guess_who.game_type == "skins" %>
              <%= image_tag("https://www.overkillsoftware.com/ovk-media/economy42gF2Y/#{item}.png", style: "max-width:100%;padding: 1rem 0;", class: "guess_who_card rarity-background #{GuessWho.skin_data(item)["rarity"]}") %>
            <% elsif @guess_who.game_type == "content_creators" %>
              <%= image_tag("guess_who/content_creators/#{item}", style: "width:120px;height:140px;padding: 1rem 0;", class: "guess_who_card") %>
            <% elsif @guess_who.game_type == "characters" %>
              <%= image_tag("guess_who/characters/#{item}.png", style: "width:120px;height:140px;padding: 1rem 0;", class: "guess_who_card") %>
            <% else %>
              <img src="<%= item %>" style="width:160px;" class="guess_who_card"/>
            <% end %>
          </div>
          <% if @guess_who.game_type == "content_creators" || @guess_who.game_type == "characters" %>
            <p style="color:white"><%= item.gsub(".png", "").gsub(".jpg", "").gsub(".PNG", "") %></p>
          <% elsif @guess_who.game_type == "skins" %>
            <p style="color:white"><%= GuessWho.skin_data(item)["name"] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr/>
  <div style="display:flex;justify-content:space-between;padding: 2rem 4rem;width:60%;margin:auto;">
    <h2 style="color:white;">Your lobby code is <%= params[:id] %></h2>
    <button class="btn btn-primary" style="padding:0.5rem 1rem;height:20%;" id="reset-button">Reset</button>
    <h2 style="color:white;">Your Card:</h2>
    <div style="background:white;border-radius:0.5rem;">
      <% if ["heist", "content_creators"].include?(@guess_who.game_type) %>
        <img id="your-pick" style="width:120px;padding:1rem" class="guess_who_card"/>
      <% elsif @guess_who.game_type == "skins" %>
        <img id="your-pick" style="width:160px;" class="guess_who_card rarity-background"/>
      <% else %>
        <img id="your-pick" style="width:160px;" class="guess_who_card"/>
      <% end %>
    </div>
  </div>
</div>

<script>
  const setChosenImage = () => {
    const chosenImage = document.getElementsByClassName("gameplay-item")[Math.floor(Math.random() * $(".gameplay-item").length)].children[0]
    const imageSource = chosenImage.src
    $("#your-pick").attr("src", imageSource)
    <% if @guess_who.game_type == "skins" %>
      document.getElementById("your-pick").classList = chosenImage.classList
    <% end %>
  }
  $(document).ready(() => {
    setChosenImage()

    $(".gameplay-item").on("click", (e) => {
      if (e.currentTarget.classList.contains("turned")) {
        e.currentTarget.classList.remove("turned")
        e.currentTarget.classList.add("unturned")
      } else {
        e.currentTarget.classList.remove("unturned")
        e.currentTarget.classList.add("turned")
      }
    })

    $("#reset-button").on("click", () => {
      setChosenImage()
      $(".gameplay-item").removeClass("turned")
      $(".gameplay-item").addClass("unturned")
    })
  })
</script>
