<% if !(params[:controller] == 'jeopardy_games') %>
  <ul class="nav-bar-container">
    <div style="display:flex;">
      <li class="nav-element nav-element-left <%= 'active-nav' if current_page?(controller: 'homes', action: 'index') %>" >
        <a href="/" data-turbo="false">Community Charts</a>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(index show).include?(params[:action]) %>">
        <a href="/leaderboards" data-turbo="false">Leaderboards</a>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(top_100 top_100_index).include?(params[:action]) %>">
        <a href="/leaderboards/top_100_index" data-turbo="false">Top 100</a>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'guess_whos' && %w(index show).include?(params[:action]) %>">
        <a href="/guess_whos" data-turbo="false">Guess Who</a>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'gifs_controller' && %w(index show).include?(params[:action]) %>">
        <a href="/gifs" data-turbo="false">Gifs</a>
      </li>
    </div>

    <div style="display:flex;">
      <li class="nav-element nav-element-right">
        <a href="https://github.com/0lafe/payday2Charts/issues" target="_blank">
          Report Bugs Here
          <i class="fa-solid fa-up-right-from-square" style="margin-left: 0.5rem;"></i>
        </a>
      </li>
      <% if current_user %>
        <li class="nav-element nav-element-right">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag(current_user.steam_avatar, class: "steam-avatar") %>
            <%= current_user.steam_name %>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= button_to "Sign Out",
                {
                  controller: :sessions,
                  action: 'destroy',
                  id: 123
                },
                :method => :delete,
                data: {
                  turbo: false
                },
                class: "dropdown-item" 
              %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-element nav-element-right">
          <%= link_to(new_session_path) do %>
            <%= image_tag("steam_login.png") %>
          <% end %>
        </li>
      <% end %>
    </div>
  </ul>
<% end %>
