<% if !(params[:controller] == 'jeopardy_games') %>
  <ul class="nav-bar-container">
    <div class="nav-bar-item">
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(index show).include?(params[:action]) %>">
        <%= link_to "Leaderboards", root_path, data: { turbo: false } %>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if current_page?(controller: 'charts', action: 'index') %>" >
        <%= link_to "Community Charts", charts_path, data: { turbo: false } %>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(top_100 top_100_index).include?(params[:action]) %>">
        <%= link_to "Top 100", top_100_index_leaderboards_path, data: { turbo: false } %>
      </li>
      <% if current_user && current_user.me? %>
        <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'skins' %>">
          <%= link_to "Skins", skins_path, data: { turbo: false } %>
        </li>
      <% end %>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'guess_whos' && %w(index show).include?(params[:action]) %>">
        <%= link_to "Guess Who", guess_whos_path, data: { turbo: false } %>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'gifs' && %w(index show).include?(params[:action]) %>">
        <%= link_to "Gifs", gifs_path, data: { turbo: false } %>
      </li>
      <li class="nav-element nav-element-left <%= 'active-nav' if params[:controller] == 'crits' %>">
        <%= link_to "Crit Calculator", crits_path, data: { turbo: false } %>
      </li>
    </div>

    <div class="nav-bar-item">
      <li class="nav-element nav-element-right">
        <a href="https://github.com/0lafe/payday2Charts/issues" target="_blank">
          Report Bugs Here
          <i class="fa-solid fa-up-right-from-square" style="margin-left: 0.5rem;"></i>
        </a>
      </li>
      <%= render "shared/nav_bar_profile" %>
    </div>

    <div class="mobile-nav-bar-item">
      <li>
        <button class="mobile-side-menu-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu">
          <%= image_tag("icons/bar-menu.svg") %>
        </button>
      </li>
      <%= render "shared/nav_bar_profile" %>
    </div>
  </ul>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar-menu" aria-labelledby="sidebar-menu-label">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebar-menu-label">Pages</h5>
      <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="sidebar-links-container">
        <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(index show).include?(params[:action]) %>">
          <%= link_to "Leaderboards", root_path, data: { turbo: false } %>
        </li>
        <li class="sidebar-nav-item <%= 'active-nav' if current_page?(controller: 'charts', action: 'index') %>" >
          <%= link_to "Community Charts", charts_path, data: { turbo: false } %>
        </li>
        <% if current_user && current_user.me? %>
          <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'skins' %>">
            <%= link_to "Skins", skins_path, data: { turbo: false } %>
          </li>
        <% end %>
        <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'leaderboards' && %w(top_100 top_100_index).include?(params[:action]) %>">
          <%= link_to "Top 100", top_100_index_leaderboards_path, data: { turbo: false } %>
        </li>
        <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'guess_whos' && %w(index show).include?(params[:action]) %>">
          <%= link_to "Guess Who", guess_whos_path, data: { turbo: false } %>
        </li>
        <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'gifs' && %w(index show).include?(params[:action]) %>">
          <%= link_to "Gifs", gifs_path, data: { turbo: false } %>
        </li>
        <li class="sidebar-nav-item <%= 'active-nav' if params[:controller] == 'crits' %>">
          <%= link_to "Crit Calculator", crits_path, data: { turbo: false } %>
        </li>
        <hr/>
        <li class="sidebar-nav-item">
          <a href="https://github.com/0lafe/payday2Charts/issues" target="_blank" class="github-nav">
            <%= image_tag("icons/github-white.svg", class: "github-nav-item") %>
            Report Bugs Here
            <i class="fa-solid fa-up-right-from-square" style="margin-left: 0.5rem;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
