<%= turbo_frame_tag :jeopardy_questions do %>
  <div class="bubble" id="selected-clue-bubble">
    <a style="float:right;" class="btn" data-bs-toggle="modal" data-bs-target="#edit-question"><i class="fa-solid fa-pencil"></i></a>
    <h2 style="color:gold;">
      $<%= question.value %>
    </h2>
    <h2 id="question-title">Question:</h2>
    <div class="question">
      <p id="question-question">
        <%= question.question %>
      </p>
      <% if question.image.present? %>
        <%= image_tag(question.image, class: 'jeopardy-image') %>
        <p id="image-answer"></p>
      <% end %>
    </div>
    <% if question.answer.present? %>
      <button id="question-answer" class="btn btn-warning">Answer</button>
    <% end %>
    <div>
      <hr/>
      <p>Player</p>
      <%= simple_form_for game, url: answer_question_jeopardy_game_path(game, question_id: question.id) do |f| %>
        <%= f.simple_fields_for :player do |ff| %>
          <%= ff.input :player, as: :radio_buttons, collection: game.jeopardy_players.order('created_at DESC').map {|player| [player.name, player.id] }, label: false %>
        <% end %>
        <hr/>
        <div style="display:flex;justify-content:space-between;width:30%;margin:auto;">
          <%= f.submit "Right", class: "btn btn-success", value: "Right" %>
          <%= f.submit "Wrong", class: "btn btn-danger", value: "Wrong" %>
          <%= f.submit "Complete", class: "btn btn-warning", value: "Complete", formnovalidate: true %>
        </div>
        <% if question.variable_points %>
          <%= f.simple_fields_for :variable_points do |ff| %>
            <span>Points: </span>
            <%= ff.input :variable_points, input_html: { class: "form-control", style: "width: 10%;display:inline;" }, label: false %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="edit-question" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= simple_form_for question do |f| %>
          <div class="modal-body">
            <p style="color:black;text-shadow:none;">Question: </p>
            <%= f.input :question, label: false, input_html: { style: 'width:100%', class: 'form-control' } %>
            <hr/>
            <p style="color:black;text-shadow:none;">Answer: </p>
            <%= f.input :answer, label: false, input_html: { style: 'width:100%', class: 'form-control' } %>
            <hr/>
            <p style="color:black;text-shadow:none;">Image: </p>
            <%= f.input :image, label: false, input_html: { style: 'width:100%', class: 'form-control' } %>
            <hr/>
            <p style="color:black;text-shadow:none;">Variable Points: </p>
            <%= f.input :variable_points, label: false, input_html: { style: 'width:100%' } %>
            <hr/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit 'Update Question', class: 'btn btn-primary', id: 'update-question-submit', 'data-bs-dismiss':"modal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    $('#question-answer').on('click', () => {
      $('#question-title').text('Answer')
      $('#question-answer').remove()
      if ($('.jeopardy-image').length) {
        $('#question-question').text('')
        $('#image-answer').text('<%= question.answer %>')
      } else {
        $('#question-question').text('<%= question.answer %>')
      }
    })
  </script>
<% end %>

<%= turbo_frame_tag :remove_player_from_question do %>
<% end %>