<% if current_user %>
  <li class="nav-element nav-element-right">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag(current_user.avatar || "", class: "steam-avatar", style: "max-height:90%") %>
      <%= current_user.steam_name %>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Top 100s", top_100_leaderboard_path(current_user.steam_id), class: "dropdown-item", data: { turbo: false } %>
      </li>
      <li>
        <%= button_to "Sign Out",
          {
            controller: :sessions,
            action: 'destroy',
            id: 123
          },
          :method => :delete,
          data: {
            turbo: false
          },
          class: "dropdown-item"
        %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="nav-element nav-element-right">
    <%= link_to(new_session_path) do %>
      <%= image_tag("steam_login.png", class: "steam-signin-icon") %>
    <% end %>
  </li>
<% end %>