<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="https://fbi-files.s3.amazonaws.com/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Stat tracker and leaderboards for Payday 2">
    <meta name="keywords" content="Payday 2,PD2,Stats,Leaderboars,Ranking,Charts,Statistics">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://payday-charts.com/">
    <meta property="og:site_name" content="Payday Charts">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://fbi-files.s3.amazonaws.com/favicon.png">
    <%= render "layouts/discord_description" %>
    <%= render "layouts/title" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/231bc953c8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
      <%= render(NavBarComponent.new) %>
      <%= render "layouts/notification_banner" %>
    </div>
    <%= yield %>
  </body>
</html>
